---
title: メンバー・リクルーティングのお知らせ
---

猫を堕ろすメンバー募集のお知らせ<br>
<br>
<br>

<%= image_tag "/images/member-recruiting.jpg", style: "width: 100%;" %>

<br>

<br>

<h4>【募集要項】</h4>
<ul>
  <li>ドラム・ギター・シンセサイザー　いずれかの楽器を演奏可能な方</li>
  <li>24-26歳の不健康な男女</li>
  <li>都内で活動ができる方</li>
</ul>

<h4>【宛先】</h4>

twitter @nkwors にDM もしくは、 contact より！<br>
後ほどご連絡差し上げます。<br>

<h4>【メンバーからコメント】</h4>

<p>◆ Vo イカリヤマナツ<br>
元気じゃなくてもいいんだよ
</p>

<p>◆ Syn/Vo 伊藤薫人 ykpythemind<br>
知らない方も、知っている方も、興味があれば連絡ください。
何人応募してくださるかわからないし、何人採用（採用という言葉嫌いすぎて吐いた）するとか全く決めてないですが・・・。
<br><br>
バンドマンっぽいことしたい人はやめたほうがいいです。
<br><br>
音楽やるにあたって年齢は関係ないと思ってますが、同い年の人とやりたい、という意図で年齢に制限をつけました。バンドはチーム戦だけれども、社会ではないので、社会をしたくなかったのです・・・
</p>

<p>◆ Ba 鈴木 (イースタンハイボールユース)<br>
そんなには明るくない人とやりたいです
</p>


<br>

<%= link_to "サウンド・リクルーティングはこちら", "https://nkwors.com/sound-recruiting" %>
