---
title: 「宇宙・裏切り・怒り・ときめき EP」配信開始しました
---

<blockquote class="twitter-tweet"><p lang="ja" dir="ltr">【音源情報】<br><br>宇宙・裏切り・怒り・ときめき<br><br>1. 裏切り<br>2. 月で目覚めて (feat. OtkFromHell)<br>3. Internal Greeting<br>4. 五反田モーショントラック<br>5. 裏切り(meiyo remix)<br><br>1/16より各所で配信開始。創作の初期衝動とみずみずしいポップネスに溢れたEPです!<br><br>Apple Music &gt;<a href="https://t.co/U3ac9w93U9">https://t.co/U3ac9w93U9</a> <a href="https://t.co/qfbZfo4OwJ">pic.twitter.com/qfbZfo4OwJ</a></p>&mdash; 猫を堕ろす / 宇宙裏切りEP出しました (@nkwors) <a href="https://twitter.com/nkwors/status/1217649612946698241?ref_src=twsrc%5Etfw">January 16, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<%= link_to "配信はこちら", "https://linkco.re/5pXHxH31" %>
