/* nkwors */
/* --iPhone 縦-- 共通 -- */


html{
	font-size:13px;
}

body {
	font-family:Avenir , "Open Sans" , "Helvetica Neue" ,Helvetica , "ヒラギノ角ゴシック ProN" ,"メイリオ",Meiryo, sans-serif, "ＭＳ Ｐゴシック" , "MS PGothic";
	font-weight:lighter;

background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #000;
color:#fff;

position:relative;
}


a:link,a:visited,a:active{ color:#fff; }
a:hover{ color:#fff; background-color:rgba(0,0,0,0.65); cursor: pointer;}

/* border-box*/
*, *:before, *:after {
    box-sizing: border-box;
}

#container{width:100%; position:relative;}
#contents{ width:300px; margin:0 auto; text-align: center; padding-top:2em;}

h2{ font-size:2em; text-align: center;}
.imgborder{border:1px solid #222; }

.flexouter{
	/*min-width:250px;*/
	margin:0 auto;
	display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
	 -ms-flex-flow: column wrap;
		flex-flow: column wrap;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;

-webkit-box-align:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;

justify-content: center;

}

.flexitem{padding:5px;
width:100%; text-align: center;
-webkit-box-flex:1;-ms-flex:1;flex:1;
}


#jackettop{ width:80%; }

#credit{ margin-bottom:4em;}

#bio{ margin-bottom:4em;}

#lyrics{ margin-bottom:4em;}

#footer{ margin-top:2em;margin-bottom:2em; border-top:1px solid #222; padding:0.2em;}

#bioimg{ width:70%; max-width:600px; }

#download{ width:150px; margin:2em auto; }

 .btn {
		background:#111;
		padding:0.75em 1em;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px solid #fff;
		font-size:1.2em;
		color:#111;
		line-height:1em;
		font-weight:600;
		text-align:center;
		text-decoration:none;
		display:block;
		margin-bottom:0.5em;
	}
 .btn:hover {
		background: #666;
	}



  /*　------------for tablet --------------　*/
@media only screen and (min-width: 641px) and (max-width: 960px) {

		html{ font-size:14px;} /*#ipad{display:block;}*/


		.flexouter{-ms-flex-flow: row wrap;
		 flex-flow: row wrap;
		/* */

		width:100%;}

		#contents{ min-width:500px; width:60vw;}

#jackettop{ width:60%; }

#download{ width:30%; }

#bioimg{ width:70%; }

}


  /*　---------- for PC -------------　1024*/
@media screen and (min-width:961px) {
		html{ font-size:14px;}

		.flexouter{-ms-flex-flow: row wrap;
		 flex-flow: row wrap;
		/* */

		width:100%;}

		#contents{ min-width:650px; width:60vw;}

		#jackettop{ width:60%; }

		#download{ width:30%; }

		#bioimg{ width:70%; }



} /* --- PC end----*/
