@import '../../node_modules/normalize.css/normalize';
$hamburger-layer-width         : 30px;
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

$footer_height: 100px;

body {
  background-color: #fff;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  font-size: 15px;
  padding-bottom: $footer_height + 40px;
}

.top-info {
  color: #fff;
  bottom: 120px;
  position: absolute;
  right: 0px;
  padding-right: 15px;
}

.muted {
  color: #ddd;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.Site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Site-content {
  padding-top: 10px;
  flex: 1;
}

.top-info a, .top-info a:hover, .top-info a:visited {
  color: #fff;
}

body.index {
  padding-bottom: 0px;

  // parcelでurlを参照できないので、js側で設定する
  // background-image: url(../images/na.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0px auto;
  width: 80vw;
  max-width: 860px;
  text-align: left;
}

.mb {
  margin-bottom: 2rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;

  border-top: 1px solid #DDD;
  height: $footer_height;
}

footer {
  .footer-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .logo {
    flex-basis: 170px;
    flex-shrink: 0;
    padding: 0 2rem;
  }
  .logo img {
    width: 100%;
  }
  .menu {
    flex-basis: 80%;
    overflow-x: scroll;
  }
}

footer.index {
  border: none;
}


.menu {
  .menuinner {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .menuinner li {
    font-family: calluna-sans;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.04px;
    padding: 0 4px 4px;
    margin-right: 12px;
  }

  .menuinner li a{
    text-decoration: none;
  }
}

#mobilemenu {
  display: none;
}

.ham {
  display: none;
}

.flex {
  display: flex;
}

.flex {
  .date {
    flex-basis: 200px;
    flex-shrink: 0;
    margin-right: 15px;
  }
}

.h3 {
  margin-top: 0px;
  border-bottom: 1px solid #ddd;
}

h3 a, h3 a:hover, h3 a:visited {
  color: #111;
  text-decoration: none;
}

.live-outer {
  margin-bottom: 5rem;
}

.live-outer {
  .title {
    margin-top: 0px;
  }
  .image {
    width: 70%;
    max-width: 700px;
  }
}

.active-link {
  text-decoration: underline !important;
}

.jacket {
  flex-basis: 200px;
  flex-shrink: 0;
  margin-right: 15px;
  text-align: center;
}

.jacket img {
  width: 100%;
}
.jacket2 {
  flex-basis: 100%;
}

#mobilemenu {
  display: none;
}

.menuon {
  display: block !important;
}

$mobile_footer_height: 70px;

@media screen and (max-width: 480px) {

  body {
    padding-bottom: $mobile_footer_height + 10px;
  }

  .top-info {
    display: none;
  }

  .live-outer {
    .image {
      width: 85% !important;
    }
  }

  .ham {
    display: block;
    flex-shrink: 0;
    flex-basis: 30px;
  }

  .flex {
    flex-wrap: wrap;
  }

  .menu .menuinner {
    display: none;
  }

  footer {
    height: $mobile_footer_height;
  }

  footer .logo {
    flex-basis: 110px;
    flex-shrink: 0;
    padding: 0 0.5rem;
  }

  .jacket {
    flex: auto;
    margin-right: 0px;
  }
  .jacket > img {
    width: 70% !important;
  }

  #mobilemenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - #{$mobile_footer_height});
    // height: 100vh;
    background: #fff;
    margin: 0 auto;
  }
  #mobilemenu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #mobilemenu li:first-child {
    margin-top: 2rem;
  }
  #mobilemenu li:last-child {
    margin-bottom: 2rem;
  }

  #mobilemenu li {
    font-family: calluna-sans;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.04px;
    padding: 0 4px 4px;
  }

  // #mobilemenu li a{
  //   text-decoration: bottom;
  // }
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

