@import '../../node_modules/normalize.css/normalize';

@import '../../node_modules/bootstrap/dist/css/bootstrap-grid';

body {
  background-color: #217C8A;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 15px;
  line-height: 130%;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: rgba(#217C8A, 0.7);

  &:focus,
  &:hover {
    color: rgba(#217C8A, 0.6);
  }
}

.back {
  background: rgba(0,0,0,0.3);
}
