
<div style="text-align: center;">

<br>
  1. あなたにとって<br>
  <br>
  2. わたしにとって (Recruiting Remix)<br>


<br><br>
<br><br>
  <a href="https://linkco.re/Qargmf8z" target="_blank">BUY / STREAMING</a>
  <br>
  <br>
  <%= link_to "CREDIT", "credit.html" %>
  <br>
  <br>
  <%= link_to "LYRICS", "lyrics.html" %>
</div>
