<div class="container back" style="padding-top: 2rem; padding-bottom: 2rem;">
  <div class="row">
    <div class="col-12">

      <center>
        <h1>サウンド・リクルーティング</h1>

        <a href="#info">アルバム情報</a>
        |
        <a href="#video">ビデオ情報</a>
        |
        <a href="#profile">プロフィール</a>
        |
        <a href="#shop">店舗情報</a>
      </center>

      <h2 id="info">
        アルバム情報
      </h2>
    </div>

  </div>

  <div class="row">
    <div class="col-md-5 p-2">
      <%= image_tag "/images/sr/jacket_web.jpg", style: "width: 100%; border: 1px solid #eee;" %>
    </div>
    <div class="col-md-7">
      <h3>サウンド・リクルーティング / 猫を堕ろす</h3>
      <b>収録曲</b><br>
      1. Sound Recruiting<br>
    2. シナプス<br>
    3. 自転車<br>
    4. Green Car / Like House<br>
    5. try town<br>
    6. あなたにとって<br>
    7. ウィンターウェイティング<br>
    8. Lover come back to me<br>
    9. Recruiting is dead (*bonus track)<br>

    <br>
    <b>値段</b>: 2000円(税込)<br>
    <b>発売日</b>: 2019年5月18日<br>
    <b>レーベル</b>: Bismarck Record<br>

    </div>

    <div class="col-12">
      <h2 id="video">
        ビデオ情報
      </h2>
    </div>

    <div class="col-12">

      <center>
      <h3>【Sound Recruiting】</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AvU5o2Xfj1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </center>
    </div>

    <div class="col-12">
      <center>
      <h3>【シナプス】</h3>
        近日公開
      </center>
    </div>


    <div class="col-12">
      <h2 id="profile">
        プロフィール
      </h2>
      <center>
        <img src="/images/nk20190103.jpg" alt="アー写" style="width: 50%;">
      </center>

      <p>
        <b>【CUTEでDOPE】</b><br>2013年、名大フォークソング同好会にて伊藤とShijunにより結成。<br>
        2017年には1stミニアルバム「The Cats Are Alright」をリリースし、精力的に活動を続けている。2016年RO69JACK入賞。
      </p>
    </div>

    <div class="col-12">
      <h2 id="shop">店舗情報</h2>
      近日公開
    </div>

  </div>
</div>
