<div class="back" style="padding-top: 2rem; padding-bottom: 2rem;">
  <%# <div class="page">
    <div class="justify-content-center align-self-center w-100">

      <center>
        <h1>サウンド・リクルーティング</h1>

        <a href="#info">アルバム情報</a>
        |
        <a href="#video">ビデオ情報</a>
        |
        <a href="#profile">プロフィール</a>
        |
        <a href="#shop">店舗情報</a>
      </center>
    </div>
  </div> %>

  <div class="page2">
    <div class="justify-content-center align-self-center w-100">
      <div style="margin: 0 auto; text-align: center;">
        <%= image_tag "/images/sr/jacket_web.jpg", style: "width: 50%; border: 1px solid #eee; ", id: "info" %>
        <%# <h3>サウンド・リクルーティング / 猫を堕ろす</h3> %>

        <div class="p">
          <b>収録曲</b><br>
          1. Sound Recruiting<br>
          2. シナプス<br>
          3. 自転車<br>
          4. Green Car / Like House<br>
          5. try town<br>
          6. あなたにとって<br>
          7. ウィンターウェイティング<br>
          8. Lover come back to me<br>
          9. Recruiting is dead (*bonus track)<br>

          <br>
          <b>値段</b>: 2000円(税込)<br>
          <b>発売日</b>: 2019年5月18日<br>
          <b>レーベル</b>: Bismarck Record<br>
        </div>
      </div>

     </div>
  </div>

  <div class="page2" id="video">
    <div class="justify-content-center align-self-center w-100">

      <div class="row">
        <div class="col-12">

          <center>
          <h3>【Sound Recruiting】</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AvU5o2Xfj1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </center>
        </div>

        <br>
        <br>
        <br>
        <br>

        <div class="col-12">
          <center>
          <h3>【シナプス】</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZUoYChxSzhM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </center>
        </div>
      </div>
    </div>
  </div>

  <div class="page2" id="detail">
    <div class="justify-content-center align-self-center w-100">
      <center>
        <h2>取り扱い</h2>

        <p>coming soon...</p>
      </center>
    </div>
  </div>


  <div class="page2" id="profile">
    <div class="justify-content-center align-self-center w-100">

      <center>
        <img src="/images/nk20190103.jpg" alt="アー写" style="width: 50%;">

        <p>
          <b>【猫を堕ろす】</b><br>2013年、名大フォークソング同好会にて伊藤とShijunにより結成。<br>
          2017年には1stミニアルバム「The Cats Are Alright」をリリースし、2019年から東京で精力的に活動を続けている。
        </p>
      </center>
    </div>
  </div>

</div>
