---
title: Biography
---

<div class="container" id="bio-container">
  <center>
    <h3>
      <ruby>
        <rb>猫を堕ろす</rb>
        <rp>(</rp>
        <rt>nkwors</rt>
        <rp>)</rp>
      </ruby>
    </h3>

    <a href="/images/nk20190103.jpg">
      <img src="/images/nk20190103.jpg" alt="アー写" style="width: 80%;">
    </a>
  </center>

  <p>
    (L→R)<br>
    Key/Vo 伊藤薫人(ykpythemind) | 1993/5/20 生まれ <%= twitter_link('ykpythemind') %><br>
    Ba Shijun | 1994/2/1 生まれ <%= twitter_link('season_urb') %><br>
    Vo イカリヤマナツ | 1994/5/1 生まれ <%= twitter_link('natsuwaiwai') %>
  </p>
  <p>
    <b>【CUTEでDOPE】</b><br>2013年、名大フォークソング同好会にて伊藤とShijunにより結成。<br>
    2019年には2ndアルバム「サウンド・リクルーティング」をリリースし、東京にて精力的に活動を続けている。
  </p>

</div>
