---
title: Biography
---

<div class="container">
  <center>
    <h3>
      <ruby>
        <rb>猫を堕ろす</rb>
        <rp>(</rp>
        <rt>nkwors</rt>
        <rp>)</rp>
      </ruby>
    </h3>

    <a href="/images/nk20190103.jpg">
      <img src="/images/nk20190103.jpg" alt="アー写" style="width: 80%;">
    </a>
  </center>

  <p>
    (L→R)<br>
    Key/Vo 伊藤薫人(ykpythemind) | 1993/5/20 生まれ<br>
    Ba season | 1994/2/1 生まれ<br>
    Vo イカリヤマナツ | 1994/5/1 生まれ
  </p>
  <p>
    <b>【CUTEでDOPE】</b><br>2013年 名大フォークソング同好会にて伊藤とseasonにより結成。<br>
    2017年には1stミニアルバム「The Cats Are Alright」をリリースし、精力的に活動を続けている。2016年RO69JACK入賞。
  </p>


</div>
