---
title: Discography
---

<div class="container">

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/sound_recruiting_web.jpg" alt="soundrecruitingジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">配信シングル「Sound Recruiting」</h3>

      <p>
      2018/5/6 Release <br><br> <a href="https://nkwors.com/sound-recruiting/">特設ページ</a>
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/synapse.jpg" alt="シナプスジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">配信シングル「シナプス」</h3>

      <p>
      2017/8/4 Release <br><br> <a href="https://nkwors.com/synapse/">特設ページ</a>
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/the_cats_are_jacket.jpg" alt="the cats are alrightジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">1st album "The Cats Are Alright"</h3>
         1. The Cats Are Alright <br> 2. 恋する猫は淑女の気持ち <br> 3. 日傘のリーズ <br> 4. 舌足らず <br> 5. ティータイムは報われない <br> 6. N.K.W.O.R.S

      <p>
      <small>
        [BSMR003] 1000yen (tax in)<br>
        2017/5/7 Release [廃盤]
      </small>
      </p>

      <p>
      2013年、名古屋で結成された男女ツインボーカル編成のシニカルポップバンド、猫を堕ろす待望の公式初音源。 コンポーザー伊藤薫人が生み出すパワーポップ、オルタナなどに影響を受けた楽しくも少し捻くれたポップスを6曲収録。 時にシニカルに、時にキュートに、時にエモーショナルにと表情を変え続ける楽曲は癖になること間違いなし。
      </p>

      <a href="https://linkco.re/6uadrfNN" target="_blank">配信ページ</a>
    </div>
  </div>
</div>
