---
title: Discography
---

<div class="container">

  <div class="flex mb">
    <div class="jacket">
      <a href="/images/uchu.png">
        <img src="/images/uchu_small.jpg" alt="宇宙・裏切り・怒り・ときめき" style="border: 1px solid gray;">
      </a>
    </div>
    <div class="jacket2">
      <h3 class="h3">3nd mini album 「宇宙・裏切り・怒り・ときめき」</h3>
        <p>
          <b>収録曲</b><br><br>
          1. 裏切り<br>
          2. 月で目覚めて (feat. OtkFromHell)<br>
          3. Internal Greeting<br>
          4. 五反田モーショントラック<br>
          5. 裏切り (meiyo remix)
          <br>
      <br><br> <a href="https://linkco.re/5pXHxH31" target="_blank">配信ページ</a>
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <a href="/images/nkwors_s_r_online_jucket.png">
        <img src="/images/nkwors_s_r_online_jucket_small.jpg" alt="サウンド・リクルーティングONLINEジャケット">
      </a>
    </div>
    <div class="jacket2">
      <h3 class="h3">2nd album 配信版「サウンド・リクルーティング ONLINE」</h3>
        <p>
          <b>収録曲</b><br><br>
          1. Sound Recruiting<br>
          2. シナプス<br>
          3. 自転車<br>
          4. Green Car / Like House<br>
          5. try town<br>
          6. あなたにとって<br>
          7. ウィンターウェイティング<br>
          8. Lover come back to me<br>
          9. Sound Recruiting (周 remix)<br>
          10. シナプス (8bit taketake remix)<br>
          11. 自転車 (yobai video mix)<br>
          12. Green Car / Like House (davun remix)<br>
          13. try town (とみめい remix)<br>
          14. わたしにとって (ykpythemind remix)<br>
          15. ウィンターウェイティング (Waiting "At" the Winter remix)<br>
          16. Lover come back to me (In the bedroom remix)<br>

          <br>
      <br><br> <a href="https://linkco.re/CHhmQ64M" target="_blank">配信ページ</a>
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/sr/jacket_web.jpg" alt="サウンド・リクルーティングジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">2nd album「サウンド・リクルーティング」</h3>
        <p>
          <b>収録曲</b><br><br>
          1. Sound Recruiting<br>
          2. シナプス<br>
          3. 自転車<br>
          4. Green Car / Like House<br>
          5. try town<br>
          6. あなたにとって<br>
          7. ウィンターウェイティング<br>
          8. Lover come back to me<br>
          9. Recruiting is dead (*bonus track)<br>

          <br>
          <b>値段</b>: 2000円(税込)<br>
          <b>発売日</b>: 2019年5月18日<br>
          <b>レーベル</b>: Bismarck Record<br>
      <br><br> <a href="/sound-recruiting/index.html">特設ページ</a>
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/anatanitotte_jacket_small.jpg" alt="あなたにとってジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">配信シングル「あなたにとって」</h3>

1. あなたにとって<br>
2. わたしにとって (Recruiting Remix)<br>

      <p>
      2019/2/27 Release <br><br> <a href="/anatanitotte/index.html">特設ページ</a>
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/sound_recruiting_web.jpg" alt="soundrecruitingジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">配信シングル「Sound Recruiting」</h3>

      <p>
      2018/5/6 Release <br><br> 公開終了
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/synapse.jpg" alt="シナプスジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">配信シングル「シナプス」</h3>

      <p>
      2017/8/4 Release <br><br> 公開終了
      </p>
    </div>
  </div>

  <div class="flex mb">
    <div class="jacket">
      <img src="/images/the_cats_are_jacket.jpg" alt="the cats are alrightジャケット">
    </div>
    <div class="jacket2">
      <h3 class="h3">1st album "The Cats Are Alright"</h3>
         1. The Cats Are Alright <br> 2. 恋する猫は淑女の気持ち <br> 3. 日傘のリーズ <br> 4. 舌足らず <br> 5. ティータイムは報われない <br> 6. N.K.W.O.R.S

      <p>
      <small>
        [BSMR003] 1000yen (tax in)<br>
        2017/5/7 Release [廃盤]
      </small>
      </p>

      <p>
      2013年、名古屋で結成された男女ツインボーカル編成のシニカルポップバンド、猫を堕ろす待望の公式初音源。 コンポーザー伊藤薫人が生み出すパワーポップ、オルタナなどに影響を受けた楽しくも少し捻くれたポップスを6曲収録。 時にシニカルに、時にキュートに、時にエモーショナルにと表情を変え続ける楽曲は癖になること間違いなし。
      </p>

      <a href="https://linkco.re/6uadrfNN" target="_blank">配信ページ</a>
    </div>
  </div>
</div>
