---
title: Live
---

<div class="container">
  <p>ご予約は<a href="https://twitter.com/nkwors" target="_blank">twitter</a> または
  <%= link_to "Contact", contact_url, target: '_blank' %> まで！
  <br><br></p>

  <% data.live.take(7).each do |l| %>
    <%= partial "live", locals: { live: l } %>
  <% end %>

  <%= link_to "過去のライブ", "/old_live.html" %>
</div>
