---
title: Live
---

<div class="container">
  <p>ご予約は<a href="https://twitter.com/nkwors" target="_blank">twitter</a> または
  <%= link_to "Contact", contact_url, target: '_blank' %> まで！
  <br><br></p>

  <div id="live-container">
  </div>

  <%-# link_to "過去のライブ", "/old_live.html" %>
</div>
