---
title: Live
---

<div class="container">
  <%= link_to "最新のライブを見る", "/live.html" %>

  <br>
  <br>

  <% (data.live[7..-1] || []).each do |l| %>
    <%= partial "live", locals: { live: l } %>
  <% end %>
</div>
